@import '../../styles/contants.scss';

.wrapper{
    background-color: white;

    .container{

        @media (max-width: $sm) {
            flex-direction: column;
            gap: 2rem;
        }
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        // align-items: center;

        .leftSide{

            @media (max-width: $sm) {
                width: 100%;
                padding:1rem;
            }
            display: flex;
            width: 70%;
            gap: 2rem;
            padding: 2rem;
            border: 3px solid #F8F7F1;
            flex-direction: column;

            .applyContent{
                display: flex;
                flex-direction: column;

                .applyContentHeading{
                    margin-bottom: 2rem;
                }

                .applyContentDetails{
                    line-height: 2rem;
                }
            }

        }

        .rightSide{

            @media (max-width: $sm) {
                width: 100%;
                padding: 1rem;
            }
            display: flex;
            width: 29%;
            // gap: 2rem;
            padding: 1rem;
            border: 3px solid #F8F7F1;
            flex-direction: column;
            background-color: #F8F7F1;

            .allCourses{
                margin-bottom: 2rem;
            }

            .requirementContent{
                display: flex;
                flex-direction: column;

              

                .exp{
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 1rem;
                    border: 5px solid rgb(217, 245, 219);
                    border-radius: 20px;

                    &:hover{
                        border: 5px solid rgb(250, 188, 163);
                        border-radius: 20px;
                    }

                    .expContent{
                        display: flex;
                        padding:0.3rem;
                        flex-direction: column;
                    }
                    
                }
            }
            
        }
    }
}