@import '../../styles/contants.scss';

.wrapper{
    background: white;
    .container{
        align-items: flex-start;
        gap: 2rem;
        flex-wrap: wrap;

        >div{
            flex: 1;
        }

        .leftSide{
            display: flex;
            flex-direction: column;
            gap: 2rem;


            .exp{
                display: flex;
                align-items: center;
                border: 1px solid $secondary-white;
                border-radius: 20px;
                padding: 1.5rem;
                gap: 2rem;
                transition: all 200ms ease-out;

                &:hover{
                    cursor: pointer;
                    box-shadow: 0px 21px 13px rgba(0, 0, 0, 0.04);
                }

                .expBase{

                    @media(max-width: $sm){
                        width: 220px;
                    }
                    display: flex;
                    width: 500px;
                }

                .links{

                    display: flex;
                    align-items: center;
                    // border: 1px solid $secondary-white;
                    // border-radius: 20px;
                    // padding: 1.5rem;
                    color: inherit;
                    gap: 2rem;
                    // transition: all 200ms ease-out;
    
                    // &:hover{
                    //     cursor: pointer;
                    //     box-shadow: 0px 21px 13px rgba(0, 0, 0, 0.04);
                    // }

                >:nth-child(1){
                    // padding: 10px;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 999px;
                }

                >:nth-child(2){
                    display: flex;
                    flex-direction: column;
                    // gap: 1rem;

                    >:nth-child(1){
                        display: flex;
                        font-size: 1.6rem;
                        font-weight: bold;

                        
                    }    
                   
                }

                // >:nth-child(3){
                //     display: flex;
                //     flex-direction: row;
                //     // gap: 1rem;

                //     >:nth-child(2){

                //             color:"red"!important;
                //             font-size: 13px;
                //             font-weight: bold;
                //             border: 1px solid $secondary-white;
                //             padding: 10px 15px;
                //             border-radius: 5px;

                        
                //     }    
                   
                // }

                .applyBtn{
                    color:"red"!important;
                    font-size: 13px;
                    font-weight: bold;
                    border: 1px solid $secondary-white;
                    padding: 10px 15px;
                    border-radius: 5px;

                }

            }

            }
        }

        .rightSide{
            @media(max-width: $sm){
                // text-align: center;
            }

            display: flex;
            flex-direction: column;
            gap: 2rem;

            .stats{
                justify-content: flex-start;
                gap: 4rem;

                .stat{
                    flex-direction: column;
                    justify-content: flex-start;
                }
            }
        }
    }
}